@import "https://fonts.googleapis.com/css2?family=Megrim&display=swap";

body {
  overflow: hidden;
  margin: 0;
}

#word {
  font-family: "Ink Free", cursive;
  font-size: 600px;
  font-weight: 650;
  position: absolute;
  margin: 10;
  /* bottom: 0; */
  color: transparent;
  -webkit-text-stroke: 2px #fc0;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff69b4, 0 0 70px #ff69b4, 0 0 80px #ff69b4, 0 0 100px #ff69b4, 0 0 150px #ff69b4;
}
