body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

@import "https://fonts.googleapis.com/css2?family=Megrim&display=swap";
body{
  overflow: hidden;
  margin: 0;
}
#word{
  font-family: Megrim, cursive;
  font-size: 45px;
  font-weight:550;
  position: absolute;
  margin: 10;
  color:gold;
  /*bottom: 0;*/
  color: #fc0;
  -webkit-text-stroke: 0.15vh #c0f;
}
