body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

@import "https://fonts.googleapis.com/css2?family=Megrim&display=swap";
body{
  overflow: hidden;
  margin: 0;
}
#word{
  font-family: Ink Free, cursive;
  font-size: 60px;
  font-weight:550;
  position: absolute;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
  position: relative;
  color: #fc0;
  background-color: transparent;
  -webkit-text-stroke: 0.15vh #c0f;
}
